#!/usr/bin/make -f

%:
	dh $@

export KERNEL_SRC := /usr/src/kernel/
export M := $(CURDIR)
export KBUILD_OPTIONS := KCFLAGS=" \
    -I/usr/src/kernel/drivers/firmware \
    -I/usr/src/kernel/include/linux \
    -I$(CURDIR)/include \
    -I$(CURDIR)/include/uapi \
    -I$(CURDIR)/arch/arm64/include"

override_dh_auto_install:
	dh_auto_install --destdir=$(CURDIR)/debian/tmp
	make KDIR=$(KERNEL_SRC) INSTALL_MOD_PATH=$(CURDIR)/debian/tmp modules_install
	install -d debian/tmp/usr/lib/modules-load.d/
	install -Dm 0755 gunyah-drivers.conf \
		debian/tmp/etc/modules-load.d/gunyah-drivers.conf
	# Install uapi header (goes with main package per spec)
	install -d debian/tmp/usr/include/uapi/linux/
	install -m 0644 include/uapi/linux/gunyah_oot.h \
		debian/tmp/usr/include/uapi/linux/gunyah.h
	# Install linux/gunyah headers for dev package (bb: ${includedir}/linux/gunyah/)
	install -d debian/tmp/usr/include/linux/gunyah/
	install -m 0644 include/linux/gunyah/* \
		debian/tmp/usr/include/linux/gunyah/
	install -m 0644 Module.symvers \
		debian/tmp/usr/include/

.PHONY: clean
clean:
